/*.c-img-hero {
    img {
        height: 60vh;
        object-fit: cover;

        @media (width >768px) {
            height: unset;
        }
    }

    .c-img-hero_content {
        top: 16rem;
    }
}
*/

.c-img-hero {
    position: relative;
}

.c-img-hero__image {
    height: 50vh;
    object-fit: cover;

    @media (min-width: 768px) {

        width: 100%;
        height: 80vh;

    }

}

.c-img-hero__overlay {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;


}

.c-img-hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 80px;

    @media (min-width: 768px) {
        margin-block-start: 250px;
    }

}

.c-img-hero__content {
    max-width: 700px;
    margin-top: 4rem;

    @media (min-width: 768px) {
        gap: 40px;
        margin-top: unset;
    }

    button {
        width: max-content;
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .c-img-hero__inner {
        gap: 40px;
    }
}

.c-img-hero--card {
    width: 328px;
    height: 292px;

}