.c-testmonials {
    background-color: var(--bg-dark);
    padding-block: 5rem;

    @media (min-width: 991px) {
        padding-block: 160px;
    }



    .c-testimonials-heading {
        gap: 10px;

        /* padding-block-end: 40px; */


        h6 {
            font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);

            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            /* primary-text-color */
            color: var(--primary-color);
        }

        h2 {
            /* h2 #section-title-2 */

            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            letter-spacing: 0.2px;
            color: var(--light-text-color);



        }

        p {
            color: var(--light-text-color);
            padding-inline: 2rem;

            @media (min-width: 991px) {
                padding-inline: unset;
            }
        }
    }

    .c-testmonial-card {
        background: var(--bg-light);
        padding: 25px;
        gap: 30px;

        @media (min-width: 991px) {

            width: 501px;
            height: 438px;

        }

        .c-testmonial-card-content {
            padding-inline: 2rem;
            min-height: 236px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @media (min-width: 991px) {
                padding-inline: 100px;
                min-height: 250px;
                display: unset;
                flex-direction: unset;
                justify-content: unset;
            }

            p {
                margin-block-end: 15px;
            }

            .personal {
                margin-block-start: 15px;
                gap: 5px;

                h5 {


                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;

                    /* text-color */
                    color: var(--text-color);

                }

                h6 {
                    color: var(--secondary-text-color);
                }

                h5,
                h6 {
                    margin: 0;
                }
            }
        }


    }
}